body {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #9be15d, #00e3ae);
}

#navClass {
    background-color: rgb(33, 138, 174)
}

.navid {
    width: 45%;
    margin: 5px 5px;
}

.customContainer {
    margin: 2rem 7rem;
}

.codejs{
    overflow-x:auto;
    padding:.5em;
    background:#282a36;
    color:#f8f8f2;
}

.codejs-keyword {
    color:#8be9fd
}

.codejs-function{
    color:#ff79c6
}

.codejs-value{
    color:#0099ff
}

.codejs-comment {
    color:#6272a4
}